<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script src="js/java.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angularjs.js"></script>
<script src="js/angular-sanitize.min.js"></script>

<script>
function resizeText(multiplier) {
 
  if (document.getElementById('font').style.fontSize == "") {
    document.getElementById('font').style.fontSize = "1.0em";}
  if(document.getElementById('font').style.fontSize =="0.4em" && multiplier==-1){}
  else if(document.getElementById('font').style.fontSize =="1.6em" && multiplier==1){}else{
  document.getElementById('font').style.fontSize = parseFloat(document.getElementById('font').style.fontSize) + (multiplier * 0.2) + "em";
  }
}

function resize_en(multiplier) {
 
if (document.getElementById('font2').style.fontSize == "") {
document.getElementById('font2').style.fontSize = "1.0em";}
if(document.getElementById('font2').style.fontSize =="0.4em" && multiplier==-1){}
else if(document.getElementById('font2').style.fontSize =="1.6em" && multiplier==1){}else{
document.getElementById('font2').style.fontSize = parseFloat(document.getElementById('font2').style.fontSize) + (multiplier * 0.2) + "em";

  }
}

</script>
<title>نامیا</title>
</head>
<body class="noselect" ng-app="App"   ng-controller="CenterCTRL" ng-cloak>

<!-- page farsi--------------------------------------------------------------->
     <input  id="online" style="display:none" value="1" type="text">
<div data-role="page" id="pageone"  class="backg">  
  <div data-role="main" class="ui-content marg80">

  <div class="ui-grid-solo  ui-responsive"> 
      <div class="ui-block-a">
      <ul> 
      <li><a ><img  width="230" src="img/title.png"></a></li>
      </ul>
  </div>
        
<div class="ui-block-a">

<div class="langst" >
<img class="imlo" src="img/zaban.png"><br>
<a href="#lang" ng-click="mylan(2)"   data-transition="fade"  data-direction="reverse"><img   src="img/torki.png"></a>
<a href="#lang"  ng-click="mylan(1)"   data-transition="fade"  data-direction="reverse"><img    src="img/farsi.png"></a>

</div>

</div>
    
</div>
</div>
</div>
 
<!-- page list--------------------------------------------------------------->

<div data-role="page" id="lang"  class="backg">
<div data-role="panel" id="myPanel"   data-position="right" data-display="overlay"> 
  <h2>{{header}}</h2>
  <p>{{texts}}</p>
</div> 
  
<div data-role="main" class="ui-content marg70">

<div class="ui-grid-solo  ui-responsive">
 <div class="ui-block-a">
    <ul> 
    <li><a ><img width="220" src="{{onvan}}"></a></li>
    </ul>
    </div>
<div class="ui-block-a">
<ul> 

<li><a href="#ashar"   data-transition="fade"  data-direction="reverse"><img   src="{{list1}}"></a></li>
<li><a href="#sher2" ng-hide="hid_tu" ng-click="sherid(randoms)"  data-transition="fade"  data-direction="reverse"><img   src="{{list2}}"></a></li>
<li><a href="#sher1" ng-hide="hid_fa" ng-click="sherid(randoms)"  data-transition="fade"  data-direction="reverse"><img   src="{{list2}}"></a></li>
<li><a href="#faver"   ng-click="showfaver(lang)"  data-transition="fade"  data-direction="reverse"><img  src="{{list3}}"></a></li>
<li><a href="#asharse"   data-transition="fade"  data-direction="reverse"><img  src="{{list4}}"></a></li>
<li><a href="#aboutsh"   data-transition="fade"  data-direction="reverse"><img  src="{{list5}}"></a></li>
<li><a href="#about"   data-transition="fade"  data-direction="reverse"><img  src="{{list6}}"></a></li>
<li><a href="#nazar"   data-transition="fade"  data-direction="reverse"><img   src="{{list7}}"></a></li>
 
</ul>

</div>
</div>
</div>
</div>
<!-- page about shaer--------------------------------------------------------------->

<div data-role="page" id="aboutsh"  class="backg">  
  <div data-role="main" class="ui-content marg80">

<div class="ui-grid-solo  ui-responsive"> 
    <div class="ui-block-a">
    <ul> 
    <li><a ><img  width="230" src="img/title.png"></a></li>
    </ul>
</div>
        
    <div class="ui-block-a with80">
<p>{{abouts}}</p>
    </div>
    
</div>
</div>
</div>

<!-- page about about--------------------------------------------------------------->

<div data-role="page" id="about"  class="backg">  
  <div data-role="main" class="ui-content marg80">

<div class="ui-grid-solo  ui-responsive"> 
    <div class="ui-block-a">
    <ul> 
    <li><a ><img  width="230" src="img/title.png"></a></li>
    </ul>
</div>
        
    <div class="ui-block-a with80">
<p>{{about}}</p>
    </div>
    
</div>
</div>
</div>

<!-- page about nazar--------------------------------------------------------------->

<div data-role="page" id="nazar"  class="backg">  
  <div data-role="main" class="ui-content marg80">

    <div class="ui-grid-solo  ui-responsive"> 
        <div class="ui-block-a">
        <ul> 
        <li><a ><img  width="230" src="img/title.png"></a></li>
        </ul>
    </div>
        
    <div class="ui-block-a with80">
<p></p>
<form method="post" >
<div class="ui-field-contain">

<input ng-model="forms.name" type="text" placeholder="{{name}}" id="fullname">       

<input ng-model="forms.email" type="text"   placeholder="{{email}}"   id="bday">

<textarea  ng-model="forms.text" id="descript"  placeholder="{{description}}"   ></textarea>
</div>
<input type="button" ng-click="sendform();" value="{{sabet}}" >
</form>
</div>
    
</div>
</div>
</div>

<!-- page faver--------------------------------------------------------------->

<div data-role="page" id="faver"  class="backg">
  <div data-role="panel" id="myPanel"   data-position="right" data-display="overlay"> 
    <h2>Panel Header</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key or by swiping.</p>
  </div> 
  
  <div data-role="main" class="ui-content margz">

    <div class="ui-grid-solo  ui-responsive  marg30">
 <div class="ui-block-a">
    <ul> 
    <li><a ><img  src="{{ashar}}"></a></li>
    </ul>
</div>
    
<div class="ui-block-a">
 <ul class="scroll"  style="height:300px !important"> 
<li  ng-repeat="x in myfaver">
  <a href="#sher2" ng-hide="hid_tu" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_tu }}</a>
  <a href="#sher1" ng-hide="hid_fa" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_fa }}</a>
 </li>
  
</ul>

</div>
</div>
</div>
</div>


<!-- page onvan--------------------------------------------------------------->

<div data-role="page" id="ashar"  class="backg">
  <div data-role="panel" id="myPanel"   data-position="right" data-display="overlay"> 
    <h2>Panel Header</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key or by swiping.</p>
  </div> 
  
  <div data-role="main" class="ui-content margz">

    <div class="ui-grid-solo  ui-responsive  marg30">
 <div class="ui-block-a">
    <ul> 
    <li><a ><img  src="{{ashar}}"></a></li>
    </ul>
</div>
    
<div class="ui-block-a">
 <ul class="scroll"  style="height:300px !important"> 
<li  ng-repeat="x in myData">
  <a href="#sher2" ng-hide="hid_tu" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_tu }}</a>
  <a href="#sher1" ng-hide="hid_fa" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_fa }}</a>
 </li>
  
</ul>

</div>
</div>
</div>
</div>

<!-- page onvan hamrah search--------------------------------------------------------------->

<div data-role="page" id="asharse"  class="backg">
  <div data-role="panel" id="myPanel"   data-position="right" data-display="overlay"> 
    <h2>Panel Header</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key or by swiping.</p>
  </div> 
  
  <div data-role="main" class="ui-content margz">

    <div class="ui-grid-solo  ui-responsive  marg30">
 <div class="ui-block-a">
    <ul> 
    <li><a ><img  src="{{ashar}}"></a></li>
    </ul>

   <div class="group center"> 

      <input data-enhance="false"  ng-model="query"   data-role="none" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>جستجو</label>
    </div>
</div>
    
<div class="ui-block-a">
 <ul class="scroll"  style="height:300px !important"> 
<li  ng-repeat="x in myData| filter: query">
  <a href="#sher2" ng-hide="hid_tu" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_tu }}</a>
  <a href="#sher1" ng-hide="hid_fa" ng-click="sherid(x.ids)" data-transition="fade"  data-direction="reverse">{{ x.title_fa }}</a>
 </li>
  
</ul>

</div>
</div>
</div>
</div>
<!-- page text fa--------------------------------------------------------------->
<div data-role="page" id="sher1"  class="backg" >
  <div data-role="panel" id="myPanel"   data-position="right" data-display="overlay"> 
    <h2>Panel Header</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key or by swiping.</p>
  </div> 

  <div data-role="main" class="ui-content margz">
 <div class="ui-grid-solo  ui-responsive"   ng-repeat="xc in shers | filter:{ ids: pageid }" >
 
<div class="ui-block-a center marg_btn10">
<a class="mergicon" href="#sher1"  data-transition="fade" > <img src="img/farsi.png"></a>
<a class="mergicon"   ng-click="faver(efaver,pageid)" > <img src="{{iconslike}}"></a>
<a class="mergicon"   onclick="window.plugins.socialsharing.share(document.getElementById('shares').innerText)"><img src="img/connection.png"></a>
<a class="mergicon" href="#sher2"><img src="img/torki.png"></a>
</div> 

<div class="ui-block-a center">
<a>{{xc.title_fa}}</a>
</div>
<div class="ui-block-a"> 
 <ul class="scroll" id="font"  > 
 <li  ng-repeat="x in myData2 | filter:{ id_sher: pageid , lang:1}"  ng-hide="hid_sher"  >{{ x.beyt }}</li> 
  <li   ng-hide="hid_disc"  >{{xc.tafsir_fa}}</li> 
  </ul>
  
  <p id="shares" style="display:none">
<span ng-repeat="x in myData2 | filter:{ id_sher: pageid, lang:1  }"  ><br>{{x.beyt}}
</span><br>
<span>{{xc.tafsir_fa}}</span>
</p>
</div>

<div class="ui-block-a center">

<a class="mergicon"  onclick="resizeText(-1)"><img src="img/mainz.png"></a>
<a class="mergicon" onclick="resizeText(1)"><img src="img/plus.png"></a>
<a class="mergicon" ng-click="descript(ides)"><img src="img/pencil.png"></a>
<a class="mergicon" onclick="document.getElementById('playe').pause()"><img src="img/track.png"></a>
<a class="mergicon" id="smusic" ng-hide="smusic" onclick="document.getElementById('playe').play()"><img src="img/play.png"></a>
<a class="mergicon" id="lmusic" ng-hide="lmusic" ng-click="download(esrcvoice,evoice,pageid)"><img src="img/musical.png"></a>
<a class="mergicon bloader"  id="loaders"  ng-hide="bloader"><img src="img/load.png"><span id="bloader">0</span></a>
<audio id="playe"  src="{{evoice}}"></audio>

</div>
</div>
</div>
</div>

<!-- page text en--------------------------------------------------------------->
<div data-role="page" id="sher2"  class="backg" >
  <div data-role="panel"   id="myPanel"   data-position="right" data-display="overlay"> 
    <h2>Panel Header</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key or by swiping.</p>
  </div> 

  <div data-role="main" class="ui-content margz">
 <div class="ui-grid-solo  ui-responsive"   ng-repeat="xc in shers | filter:{ ids: pageid }" >
 
<div class="ui-block-a center marg_btn10">
<a class="mergicon" href="#sher1"  data-transition="fade" > <img src="img/farsi.png"></a>
<a class="mergicon"   ng-click="faver(efaver,pageid)" > <img src="{{iconslike}}"></a>
<a class="mergicon"  onclick="window.plugins.socialsharing.share(document.getElementById('shares').innerText)"><img src="img/connection.png"></a>
<a class="mergicon" href="#sher2"><img src="img/torki.png"></a>
</div> 

<div class="ui-block-a center">
<a>{{xc.title_tu}}</a>
</div>
<div class="ui-block-a"> 


 <ul class="scroll" id="font2"  > 
<li  ng-repeat="x in myData2 | filter:{ id_sher: pageid, lang:2  }"  ng-hide="hid_sher" >{{x.beyt}}</li> 
<li   ng-hide="hid_disc"  >{{xc.tafsir_en}}</li> 
</ul>

<p id="shares" style="display:none">
<span ng-repeat="x in myData2 | filter:{ id_sher: pageid, lang:2  }"  ><br>{{x.beyt}}
</span><br>
<span>{{xc.tafsir_en}}</span>
</p>

</div>

<div class="ui-block-a center">
<a class="mergicon"  onclick="resize_en(-1)"><img src="img/mainz.png"></a>
<a class="mergicon" onclick="resize_en(1)"><img src="img/plus.png"></a>
<a class="mergicon" ng-click="descript(ides)"><img src="img/pencil.png"></a>
<a class="mergicon" onclick="document.getElementById('playe').pause()"><img src="img/track.png"></a>
<a class="mergicon" id="smusic2" ng-hide="smusic2" onclick="document.getElementById('playe').play()"><img src="img/play.png"></a>
<a class="mergicon" id="lmusic2" ng-hide="lmusic2" ng-click="download(esrcvoice,evoice,pageid)"><img src="img/musical.png"></a>
<a class="mergicon bloader"  id="loaders2"  ng-hide="bloader2"><img src="img/load.png"><span id="bloader2">0</span></a>
<audio id="playe"  src="{{evoice}}"></audio>

</div>
</div>
</div>
</div>

<!-- page end--------------------------------------------------------------->

</div> 
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/SocialSharing.js"></script>
<script type="text/javascript">
app.initialize();
</script>
</body>
</html>
