/* CSS Document */
@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BHoma';
  src: url('../fonts/BHoma.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BHoma.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BHoma.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'nassim-bold';
  src: url('../fonts/nassim-bold.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/nassim-bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/nassim-bold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {

  font-family: 'BKoodakBold';

  src: url('../fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */

       url('../fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/

       url('../fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */

}

* {
}
body {
    background-attachment: fixed;
    font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;


 }
.backg{
         background: url(../img/img.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
h1,h2,h3,h4,h5,h6{text-align:center; direction:rtl;}	
h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}
ul{ list-style: outside none none; padding:0 !important}
.event {
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    margin: 0 30px;
    padding: 2px 0;
}
.event.listening {
    background-color: #333333;
    display: block;
}
.event.received {
    background-color: #4b946a;
    display: none;
}
@keyframes fade {
0% {
    opacity: 1;
}
50% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}
.blink {
    animation: 3000ms ease 0s normal none infinite running fade;
}
#Logo {
    display: block !important;
    margin: 1em auto 0 !important;
    width: 75% !important;
}
.scroll{width:270px; height:350px;  overflow: scroll; margin:15px auto ;}
.center{ margin:0 auto; text-align:center; direction:rtl;}
.marg80{
	margin:80px 0 !important;}
.marg70{
	margin:70px 0 !important;}	
.marg30{
	margin:20px 0 0 0 !important;}	
.margz{
	margin:50px 0 0 0 !important;}
.mergicon{padding: 10px;} 	
.marg_btn10{margin-bottom:10px !important; }
.right {
    direction: rtl !important;
    text-align: justify !important;
	
}
.font_big {
	font-size:21px !important;
	font-family:'BYekan';
	
}

.panels li a{
	padding-right:35px !important;
	background-color:#EBEBEB !important;
}

.last p img{
	width:142px !important;
	height:20px !important;
}
.rooz p{
	text-align:justify;
	padding: 5px 45px 5px 10px;
		font-family:'BKoodakBold' ;
		color:#333;
		
}
p{	 font-family:'BKoodakBold' !important;}
li{
	 font-family:'BKoodakBold' !important;
	    margin: 15px 0;
    text-align: center;	
}
li a{
font-family:'BYekan' !important;
font-size:17px !important;
font-weight: normal!important;
text-decoration:none !important;
}
h1,h2{
	 font-family:'BYekan' !important;	
}
h2{
	color:#F06 !important;
}
h3{
	 font-family:'BYekan' !important;
	 font-size:16px !important;
font-weight: normal!important;
color:#036 !important;	
}
h4{
	color:#036 !important;
	font-size:19px !important;
}
.pad_h1 {
    padding: 0.3em !important;
}
.postx p,h4{
	margin:5px 0 !important;
}
.post{
	color:#666; !important;
	margin:5px 0 !important;
}
.dates{
	color:#FFF; !important;
	margin:5px 0 !important;
	padding:3px !important;
	background-color:#39C !important;
	text-shadow: 0 1px 0 #666 !important; 
}
.pad_ha {
    padding: 0.3em !important;
}
.offline{
	visibility:visible !important;
}
.online{
	visibility:hidden;
	display:none !important;
	z-index:-1000 !important
}
.loader{margin:0 auto ;
margin-right:100px;
}
.backoff{
    background-color: #000000 !important;
    height: 1984px;
    left: 0;
    opacity: 0.5 ;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
.elemnts{
  background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: block;
    height: auto;
    left: 100px;
	right:auto;
    position: absolute;
    top: 100.5px;
    width: 150px;
	padding:10px;
    word-wrap: break-word;
    z-index: 10000;
	}
ul li a{
	text-decoration:none !important;
}

ul li a:active{
	background-color:#fff !important;
	
}
@media only screen and (max-device-width: 400px) {
.font_size17{
	font-size:19px !important;
    margin: 0.4em 1.1125em !important;
	padding: 0.4em 1em !important;
}
}
@media only screen and (min-device-width: 400px) {
.font_size17{
	font-size:21px !important;
	    margin: 0.5em 2.3125em !important;
		padding: 0.4em 1em !important;
}
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: right;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    color :#999;
}
.menu li:hover {
   color: #0099cc;
}
/*==------------------------------------------------input material*/
.group 			  { 
  position:relative; 
  margin-bottom:10px;
  width:200px 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:200px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:215px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

	